@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

body { font-family: 'Inter', sans-serif; }

/* Menghilangkan scrollbar di navigasi HP */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

/* Gaya Tab Aktif */
.tab-btn.active {
    border-bottom-color: #3b82f6;
    color: white;
    background: linear-gradient(to top, rgba(59, 130, 246, 0.05), transparent);
}

/* Scrollbar Style */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-thumb { background: #1e293b; border-radius: 10px; }
